@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

$bgcolor: #bba8ff;
$bgcolor2: #724bff;
$textcolor: #5f6ed9;
$fontcolor: #8775f0;
$fontcolor: #6da2f8;

* {
  margin: 0px;
  padding: 0px;
  font-family: "Roboto", sans-serif;
}
body {
}
p {
  margin-bottom: 0px;
}
a {
  text-decoration: none;
}
.cryto-navbar {
  position: fixed;
  top: 0px;
  width: 100%;
  color: white;
  background-color: $bgcolor2;
  padding: 20px 40px;
  display: flex;
  gap: 50px !important;
  z-index: 10;
}

.cryto-navbar p a {
  font-size: 14px;
  color: white;
}
.appName a {
  font-size: 18px !important;
  font-weight: bold;
}

.cryto-navbar p a:hover {
  text-decoration: underline;
}
.appName a:hover {
  text-decoration: none !important;
}
.crytoIcon {
  width: 30px;
}
// loading
.loadingbox {
  display: flex;
  justify-content: center;
  margin-top: 170px;
  .loadingIcon {
    width: 200px;
    height: 200px;
    background-image: url(../../public/assets/loading.gif);
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.Cryto-header {
  display: flex;
  justify-content: space-between;
  margin-top: 130px;
  input {
    height: 40px;
  }
}

// home page

.home {
  padding-top: 270px;
  .header-container {
    padding-bottom: 50px;
  }
  .hone-bg {
    background-image: url(../../public/assets/home-Bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 850px;
    z-index: -1;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
  }

  .center {
    display: flex;
    justify-content: center;
  }
  h1 {
    color: white;
    font-size: 64px;
    text-align: center;
  }
  .line {
    width: 700px;
    border-bottom: 1px solid white;
    margin-bottom: 35px;
  }
  .total-item-list {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 25px;
  }
  .total-item {
    transition: 0.3s;
    background-color: rgba(206, 215, 235, 0.582);
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    min-width: 200px;
  }
  .currency-totol {
    color: white;
    margin-bottom: 0px;
    font-weight: bold;
    font-size: 14px;
  }
  .crytoItems {
    margin-bottom: 0px !important;
  }
  .crytoItem {
    padding: 10px 20px 20px;
    background-color: aliceblue;
    margin-top: 20px;
    border-radius: 10px;
    cursor: pointer;
  }
  .crytoItem:hover {
    box-shadow: 5px 5px 10px rgb(210, 230, 248);
  }

  .crytoItem p {
    font-size: 14px;
    margin-bottom: 10px;
  }

  .crytoItem .crytoName {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 0px;
    padding: 12px 0px;
  }
  .crytoItem .crytoBox {
    border-bottom: 1px solid rgb(224, 224, 224);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .total-item:hover {
    cursor: pointer;
    transform: scale(1.09);
  }
  .currency-result {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 0px;
  }
  h2 {
    color: white;
    margin-top: 100px;
  }
}

// cryptoDetailsPage-------------

.cryptoDetailsPage {
  min-height: 700px;
  .crytoDetails h3 {
    margin-top: 20px;
  }
  .header {
    margin-top: 60px;
    background-image: url("../../public/assets/bdimg.jpg");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    backdrop-filter: grayscale(30%);
    padding: 140px 0px 60px;
    background-color: $bgcolor;
    .details {
      display: flex;
      gap: 10px;
      p {
        background: #5f6dd93d;
        padding: 3px 10px;
        border-radius: 30px;
        color: #8b95db;
      }
    }
    .sym {
      font-size: 14px;
      position: relative;
      top: 7px;
      font-weight: 600;
      color: #724df8;
    }
  }

  h1 {
    font-size: 48px;
    color: #4a1bf7;
    font-weight: bold;
  }
  .flex {
    display: flex;
    height: 80px;
    align-items: center;
    gap: 15px;
  }
  img {
    width: 37px;
    position: relative;
    top: -5px;
  }
  .body {
    margin: 100px 0px;
    padding: 0px 300px;
  }
  .crytoItems {
    margin-bottom: 50px;
  }
  .crytoItem {
    padding: 10px 20px 20px;
    background-color: aliceblue;
    margin-top: 20px;
    border-radius: 10px;
    cursor: pointer;
  }
  .crytoItem:hover {
    box-shadow: 5px 5px 10px rgb(210, 230, 248);
  }

  .crytoItem p {
    font-size: 14px;
    margin-bottom: 10px;
  }

  .crytoItem .crytoName {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 0px;
    padding: 12px 0px;
  }
  .crytoItem .crytoBox {
    border-bottom: 1px solid rgb(224, 224, 224);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .total-item:hover {
    cursor: pointer;
    transform: scale(1.09);
  }
  .currency-result {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 0px;
  }
  .cryto-details-list {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  .cryto-details-item {
    width: 350px;
    display: flex;
    justify-content: space-between;
    padding: 15px 10px;
    border-bottom: 1px solid gray;
  }
  .cryto-details-items {
  }
}

//newsPage
.newsPage {
  margin: 110px 0px 100px;
  .container {
    padding: 0px 150px !important;
  }
  .itemBox {
    position: relative;
    border-bottom: 1px solid gray;
    padding-bottom: 15px;
    margin-bottom: 15px;
    display: flex;
    gap: 20px;
  }
  img {
    width: 200px;
    height: 200px;
  }
  .title {
    color: #4a1bf7 !important;
    font-size: 24px;
    font-weight: bold;
    padding: 0px 0px 15px;
  }
  .des {
    margin-bottom: 15px;
    font-size: 12px;
    color: #5f6ed9 !important;
  }
  .time {
    color: gray;
    font-size: 12px;
  }
  .providerBox {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    margin-top: 15px;
  }
  .provider {
    border-radius: 50%;
    width: 40px;
    height: 40px;
  }
  .providerNmae {
    font-size: 14px !important;
  }
}
// NewsItemHome
.NewsItemHome {
  h2 {
    color: black !important;
  }
  .itemBox {
    border-bottom: 1px solid gray;
    margin-bottom: 70px;
    padding-bottom: 15px;
    height: 320px;
  }
  .featureImage {
    margin-bottom: 20px;
  }
  .title {
    font-size: 16px;
    color: #4a1bf7;
    height: 55px;
  }
  .des {
    padding: 10px 0px;
    font-size: 12px;
  }
  .time {
    font-size: 14px;
    color: gray;
  }
  .providerBox {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .provider {
      border-radius: 50%;
      width: 40px;
    }
    .providerDetails {
      display: flex;
      align-items: center;
      gap: 10px;
      font-size: 14px;
    }
  }
}
